.daily-list-item {
    text-align: center;
    padding: 0.25rem;
    margin: 0.5rem 1rem;
    transition: background-color 0.25s, border 0.25s;
    border-radius: 0.5rem;
    border: 2px solid transparent;
}

.daily-list-item.active {
    background-color: lightslategray !important;
    color: white;
}

.daily-list-item:hover {
    border: 2px solid lightslategray;
    cursor: pointer;
}

.daily-list-item p {
    margin-top: 0;
}

.daily-list-item .high-temp {
    font-weight: bold;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.daily-list-item .low-temp {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}